body{
	/*display: flex;
	display: -webkit-flex;*/
	/*flex-direction: column;*/
	/*align-content: flext-start;*/
	background-color:#F5F3F3;
	font-family: 'Coming Soon', cursive;
}

form{
	
	// margin: auto;
}

.heading{
	top: 0px;
	left:0px;
	position:fixed;
	z-index: 20;
	background-color: rgba(255,255,255,1);
	width: 100%;
	height: 4em;
	// padding: 0 5%;
	display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
	& #title{
	text-align: center;
	width: auto;
	margin: 0 2% ;

	} 
	& h1{
		font-size: 4em;
		font-family: 'Indie Flower', cursive;
	}
	& .heading_btn{
		-webkit-appearance: none;
		background-color: rgba(0,0,0,0);
		font-family: 'Indie Flower', cursive;
		border:none;
	}
	& #openModal{
		font-size: 3em;
		width: 1em;
		text-align: center;
		line-height: 1em;
		padding: 0%;
	}
	& #clearTodo{
		font-size: 2em;
		width: 2.5em;
		font-weight: bold;
		padding: 0%;
	}
}

.modal{

		& .modal-footer{
		margin: 0 auto;
		display: -webkit-flex;
	  display: flex;
	  -webkit-flex-direction: row;
	  flex-direction: row;
	  -webkit-align-items: center;
	  align-items: center;
	  -webkit-justify-content: space-around;
	  justify-content: space-around;
	}
	& .modal-button{
		-webkit-appearance: none;
		font-size: 1.5em;
		padding: .2em;
	}
	& #add{
		margin: 8% 5%;
		width: 90%;
		height: 3em;
		font-family: 'Coming Soon', cursive;
		font-weight: bold;
		font-size: 1.5em;
	}
	::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
	}
	::-webkit-input-placeholder {
   color: red;
	}


}

.list{
	padding-top: 30%;
	display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  // -webkit-justify-content: flext-start;
  // justify-content: flext-start;

}

ul{
	 list-style-type: none;
	 // margin-left: 15%;
	 // margin-right:15%;
}

// .row {
// 	display: flex;
// 	display: -webkit-flex;
// 	flex-direction: row;
// 	justify-content: center;
// 	flex-wrap: wrap;
// 	-webkit-appearance: none;
// 	border-bottom: solid rgba(0, 0, 0, 0.2) 1px ;
// 	// padding: 5px;
// }
.buttonDiv {
	
}
.strike {
	text-decoration: line-through;
	color: grey;
	-webkit-appearance: none;

}
.noStrike {
	text-decoration: none;
	-webkit-appearance: none;
}

.check, .delete, .add {
	-webkit-appearance: none;
	font-family: 'Oswald', sans-serif;
	// border-radius: 15px;
	// padding: 5px;
	border:none;
}

.clear{
	-webkit-appearance: none;
	font-family: 'Oswald', sans-serif;
	// border-radius: 15px;
	// padding: 5px;
	border:none;
}

.active{
	text-decoration: line-through;
	color: grey;
}


#add{
	border: solid 1px black;
}

/*#todo{
	display: inline-block;
	white-space:pre-line;
	word-wrap: break-word
}*/



.todo{
	// display: inline-block;
	// height: 100px;
	// margin: 5px;

}

.todo-name{
	// height: 200px;
}

.post-it{
	// background-image: url("assets/post_it_mobile.svg");
	// background-repeat: no-repeat;
	// display: inline-block;
	// width: 100%;
	// height: auto;
}

.ul-list{
	padding: 0;
}

.todo{
	width: 100%;
	height: 30%;
	margin: -20% 2% 0 2%;
	padding: 0;
	// border: 1px solid black;
	background-image: url("../assets/post_it_mobile.svg") ;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-origin:border-box; 
	// background-position: left top; 
	// flex-basis: 100%;
	
	& p{
	// margin: 8% 4% 0 4%;
	white-space: pre-line;
	word-wrap: break-word;
	// max-width: 100%;
	padding: 3em 1em 0 .7em;
	margin: 3% 0;
	position: relative;
	font-size: 1em;
	width: 21em;
	height: 7em;
	} 
	& input{
		appearance:none;
		-webkit-appearance: none;
		border: 1px solid #000;
		// box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
		padding: 9px;
		border-radius: 0px;
		display: inline-block;
		position: relative;
	} & input:active, input:checked:active{
		// box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
		}
			& input:checked{
				appearance:none;
				-webkit-appearance: none;
				background-color: none;
				border: 1px solid #adb8c0;
				// box-shadow: 0 1px 2px rgba(0,0,0,0.05), 
				// color: #99a1a7;
			}
				& input:checked:after{
					appearance:none;
					-webkit-appearance: none;
					background-color: none;
					content: '\2714';
					font-size: 1em;
					position: absolute;
					top: 0px;
					left: 3px;
					color: #99a1a7;
				}

}

.delete{
	position: relative;
	margin-bottom: 15%;
	left: 85%;
	z-index: 1;
}


